.product.hover {
	cursor: pointer;
	transition: all 0.3s ease-in;
	transform: translate(0, -3%);
	-webkit-animation: shadow-drop-center 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.product-layer.hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 100;
	background: linear-gradient(
		180deg,
		rgba(10, 212, 250, 0.86) 0%,
		rgba(37, 187, 241, 0.86) 100%
	);
}

@-webkit-keyframes shadow-drop-center {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}
@keyframes shadow-drop-center {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}

.product-buyIcon.hover {
	position: absolute;
	top: 5%;
	left: 85%;
	width: 12%;
}

.product-value.hover {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.product-value.hover span {
	color: #ffffff;
	font-size: 2.25rem;
}

.product-value.hover img {
	padding-top: 0.3rem;
}

.product-redeem_button.hover {
	cursor: pointer;
	text-align: center;
	padding: 0.7rem 4.5rem;
	font-size: 1.1rem;
	border-radius: 6.25rem;
	border: none;
	background-color: #ffffff;
	color: #616161;
	margin-top: 0.5rem;
}

.product-redeem_button.hover:hover {
	background: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
}
