.product {
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
	width: 16rem;
	height: 16rem;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 3rem;
	transition: all 0.3s ease-in;
	transform: translate(0);
	border-radius: 5px;
	background-color: #ffffff;
}

.product-buyIcon {
	position: absolute;
	top: 5%;
	left: 85%;
	width: 11%;
}

.product-img {
	max-width: 100%;
	object-fit: contain;
	border-radius: 5px;
}

.product-separator {
	border-bottom: 2px solid #d9d9d9;
	margin: 0rem 1rem 1rem 1rem;
}

.product span,
.product h3 {
	padding-left: 1rem;
}

.product span {
	font-size: 1rem;
	color: #a3a3a3;
}

.product h3 {
	font-size: 1.12rem;
	color: #616161;
	font-weight: 600;
}

/* Redeem styles */
.RedeemInfoContainer {
	position: absolute;
	top: 0;
	left: 50%;
	padding: 0.3rem 0.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px;
	background-color: #616161;
	opacity: 0.8;
}

.RedeemInfoContainer p {
	font-size: 0.8em;
	color: #fff;
	padding-right: 0.2rem;
}

.RedeemInfoContainer img {
	padding: 0.18rem;
	width: 1.5rem;
}

/* SweetAlert2 Custom styles  */
.swal2-styled.swal2-confirm.swalBtnColor {
	background-color: #08bbdf;
}
