.filterBar {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 35%;
	top: 40%;
	left: 22%;
	z-index: 100;
}

.filterBar span {
	color: #9c9c9c;
	font-size: 1rem;
}

.filterBar-sort_filter {
	background-color: #0ad4fa;
	color: #ffffff;
	border: none;
	border-radius: 100px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1rem;
}

/* Media queries */
@media (max-width: 62rem) {
	/* 992px */
	.filterBar {
		padding: 0 1rem;
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		flex-wrap: wrap;
	}
	.filterBar-sort_filter {
		margin-top: 0.5rem;
	}
}

@media (min-width: 62rem) and (max-width: 75rem) {
	/* 992-1200px */
	.filterBar {
		left: 25%;
		width: 40%;
	}
}

@media (min-width: 45rem) and (max-width: 62rem) {
	/* 720px-992px */
	.filterBar {
		padding: 0 6rem;
	}
}
