.redeemHistory {
	text-align: center;
}

.redeemHistory h2,
.redeemHistory p {
	margin: 1rem 0;
}

.redeemHistory h2 {
	color: #08bbdf;
}

.redeemHistory-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.8rem;
	padding: 0 5rem;
	margin-bottom: 3rem;
}

/* Media queries */
@media (max-width: 40rem) {
	/* 640px */
	.redeemHistory-products {
		padding: 0 2rem;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 40rem) and (max-width: 52.5rem) {
	/* 640px - 720px */
	.redeemHistory-products {
		padding: 0 2rem;
		grid-template-columns: repeat(2, 1fr);
	}
}
