.paginationBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 8rem 0 8rem;
	font-size: 1.2rem;
}

.paginationBar-sort {
	display: flex;
	align-items: center;
	width: 15%;
	justify-content: space-around;
}

.paginationBar-sort > span:first-child {
	color: #616161;
}

.paginationBar-sort > span:nth-child(3) {
	color: #a3a3a3;
}

.paginationBar-sort_verticalLine {
	border-left: 2px solid #d9d9d9;
	height: 3rem;
}

.paginationBar-separator {
	border-bottom: 2px solid #d9d9d9;
	margin: 1rem 8rem;
}

.paginationBar-arrows {
	display: flex;
	width: 12%;
	justify-content: space-around;
	align-items: center;
}

/* Arrow styles */
.prev,
.next {
	border: none;
	border-radius: 50%;
	-webkit-box-shadow: 0px -1px 18px 1px rgba(8, 187, 223, 1);
	-moz-box-shadow: 0px -1px 18px 1px rgba(8, 187, 223, 1);
	box-shadow: 0px -1px 18px 1px rgba(8, 187, 223, 1);
	cursor: pointer;
}

.prev.disabled,
.next.disabled {
	pointer-events: none;
	box-shadow: none;
	color: #999;
}

/* Media queries */

@media (max-width: 62rem) {
	/* 992px */

	.paginationBar {
		width: 100%;
		padding: 1rem 2rem;
		font-size: 1rem;
		justify-content: center;
	}

	.paginationBar-sort {
		justify-content: space-evenly;
		width: 50%;
	}

	.paginationBar-arrows {
		width: 35%;
	}

	.paginationBar-separator {
		margin: 0 2rem 1rem 2rem;
	}
}

@media (min-width: 45rem) {
	/* 992px */
	.paginationBar {
		font-size: 1.2rem;
	}
}
